name: Deploy Images to GitHub Registry

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "23 0 * * *"

jobs:
  check-upstream:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      latest: ${{ steps.set-matrix.outputs.latest }}
    steps:
      - name: Fetch and Filter Tags
        id: set-matrix
        run: |
          TAGS=$(curl -s "https://quay.io/api/v1/repository/fedora-asahi-remix-atomic-desktops/base-atomic/tag/" | \
            jq -c '[.tags[].name | select(test("^[0-9]+$"))] | sort_by(tonumber) | unique')

          LATEST=$(echo "$TAGS" | jq -r '.[-1]')

          echo "matrix=$TAGS" >> "$GITHUB_OUTPUT"
          echo "latest=$LATEST" >> "$GITHUB_OUTPUT"
          echo "matrix=$TAGS latest=$LATEST"

  build-and-push:
    needs: check-upstream
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.check-upstream.outputs.matrix) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/vijayakumarravi/fedora-bootc
          tags: |
            type=raw,value=${{ matrix.version }}
            type=raw,value=latest,enable=${{ matrix.version == needs.check-upstream.outputs.latest }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Containerfile
          platforms: linux/arm64
          push: true
          build-args: |
            FEDORA_MAJOR_VERSION=${{ matrix.version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=build-${{ matrix.version }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.version }}
