name: Deploy Images to Github Registry

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

env:
  REGISTRY: git.home.vjlab.dev
  IMAGE_NAME: ${{ github.repository }}
  FULL_IMAGE_NAME: git.home.vjlab.dev/vijay/fedora-bootc:42

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Gitea
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PUSH_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Containerfile
          platforms: linux/arm64
          push: true
          tags: ${{ env.FULL_IMAGE_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
