name: Deploy Images to Gitea Registry

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

env:
  REGISTRY: git.home.vjlab.dev
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     tool-cache: true

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GITEA
        uses: docker/login-action@v3
        with:
          registry: git.home.vjlab.dev
          username: ${{ github.actor }}
          password: ${{ secrets.PUSH_TOKEN }}

          #- name: 'Build Silverblue Image'
          #  run: |
          #    podman build -f Containerfile --tag ghcr.io/bshephar/fedora-bootc:rawhide-silverblue --build-arg=FEDORA_DE=silverblue
          #    podman push ghcr.io/bshephar/fedora-bootc:rawhide-silverblue
      - name: Build and Push Silverblue Image
        run: |
          docker build -f Containerfile --tag git.home.vjlab.dev/vijay/fedora-bootc:rawhide-silverblue --build-arg=FEDORA_DE=silverblue .
          docker push git.home.vjlab.dev/vijay/fedora-bootc:rawhide-silverblue

